/*
font-family: 'Playfair Display', serif;
font-family: 'Source Sans Pro', sans-serif;

*/
body {
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6, {
  font-family: 'Playfair Display';
}

h1 {
  font-family: 'Playfair Display';
  display: inline-block;
  font-size: 74px;
  font-weight: 900;
  line-height: 65px;
  margin-bottom: 52px;
}

h1:after {
  /* background-color: #F1EDF5; */
  content: '';
  display: block;
  height: 8px;
  margin-top: 12px;
}

h2 {
  font-family: 'Playfair Display';
  font-weight: 700;
  line-height: 55px;
  margin-bottom: 42px;
}

h3 {
  font-family: 'Playfair Display';
  font-weight: 700;
  line-height: 45px;
  margin-bottom: 32px;
}

h4 {
  font-family: 'Playfair Display';
  font-weight: 700;
  line-height: 35px;
  margin-bottom: 22px;
}

p {
	font-family: 'Source Sans Pro';
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	margin-bottom: 24px;
	/* max-width: 380px; */
}

a {
	display: inline-block;
	font-family: 'Source Sans Pro';
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 24px;
	text-decoration: none;
}

a:hover {
  text-decoration: none;

}

/*Navbar-----------------------------------*/
.navbar {
  padding: 1.5em;
  background: rgba(255, 255, 255, 0.97);
  border-bottom: 0px;
}


.nav-brand a {
  position: fixed;
  top: 1em;
  font-family: 'Playfair Display';
  font-size: 14px;
  font-weight: 700;
  color: #F1EDF5;
  background: #000000;
  padding: 3.5em 1em 3.5em 1em;
  /* border: 4px solid #373848; */
}

.nav-brand a span {
  font-family: 'Playfair Display';
  font-size: 34px;
  font-weight: 900;

}

@media (max-width: 768px) {
  .nav-brand a {
    position: fixed;
    top: 1em;
    padding-bottom: 0;
    font-family: 'Playfair Display';
    font-size: 14px;
    font-weight: 700;
    color: #373848;
    background: #FFFFFF;
    padding: 0;
    border: 0;
  }

  .nav-brand a span {
    font-family: 'Playfair Display';
    font-size: 34px;
    font-weight: 900;

  }
}

.navbar-default .navbar-nav>li>a {
  color: #373848;
  font-weight: initial;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #373848;
    background-color: transparent;
    outline: none;
}

/* Toggle Collapse */
.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

/*Container-----------------------------------*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container-fluid {
    width: 1170px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

/*Header Image Card-----------------------------------*/
.lg-image-card-left {
  position: relative;
  margin-left: -15.5em;
}

.lg-image-overlay-left {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 50%;
  padding-right: 3em;
  padding-left: 19em;
  background-color: #20C5E1;
  opacity: 0.9;
}

.lg-image-overlay-left h1 {
  position: absolute;
  bottom: 0;
  padding-bottom: 3em;
  color: #F1EDF5;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

.lg-image-overlay-left a {
  position: absolute;
  bottom: 0;
  margin-bottom: 15em;
}

.lg-image-overlay-left p {
  color: #F1EDF5;
}

.img-card{
  position: relative;
}

.img-card-caption {
  position: relative
  padding: 1em;
  background: #FFFFFF;
}

.img-card-title {
  position: absolute;
  background: #20C5E1;
  color: #FFFFFF;
  padding: 0.5em 2em;
  top: 45%;
  left: 30%;
  font-weight: 700;

}

.img-card-content {
  padding: 2em;
  font-size: 23px;
  text-align: center;
}

.img-card-footer {
  color: #D1D0DD;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 1.5em;
}

/* SECTION */
.section3-overlay {
  background: linear-gradient(to right, #20C5E1 0%, #20C5E1 67.6%,#20C5E1 50%,white 50%,white 100%);
  padding-bottom: 12em;
}

.section5-overlay {
  background: linear-gradient(to left, #20C5E1 0%, #20C5E1 67.6%,#20C5E1 50%,white 50%,white 100%);
  padding-bottom: 10em;
  margin-top: -10%
}

/* Social */
.social-card {
  position: relative;
  display: block;
  padding: 1em 1.5em 1.5em 1.5em;
}

.social-header {
}

.social-header i {
  font-size: 21px;
  float: left;
}

.social-header span {
  float: right;
}

.wide-social-content {
  padding: 2.5em 2em 1.2em 2em;
  font-size: 16px;
  text-align: center;
}

.md-social-content {
  padding: 2.5em 0em 2.6em 0em;
  font-size: 16px;
  text-align: center;
}


/* text */
.text-overlay {
  position: relative;
  height: 100%;
}
.text-overlay-right {
  position: absolute;
  left: 75%;
  background-color: #20C5E1;
  opacity: 0.9;
  margin-right: -14em;
  padding-bottom: 10em;
}


/*blockquote-----------------------------------*/
blockquote {
  border-left: 4px solid #373848;
  color: #D1D0DD;
  line-height: 36px;
  text-align: justify;
}

.bc-none {
  border-left: 0px;
  color: #D1D0DD;
  line-height: 36px;
}

/*Button-----------------------------------*/
.link-go {
  position: relative;
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
}

.link-go i.ion-ios-remove {
  position: absolute;
  bottom: -5px;
  left: 3.59em;
  font-size: 2em;
}

.link-go i {
  position: absolute;
  bottom: -5px;
  left: 4em;
  font-size: 2em;
}

/*Footer-----------------------------------*/
.footer {
  background: #373848;
  color: #e9e4ed;
  padding-top: 1em;
  padding-bottom: 1em;
  word-spacing: 0.4em;
}

ul.social-line {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.social-line li {
  float: left;
}

.social-line li a {
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px
}

/*Input -----------------------------------*/
:focus {outline: none;}

input[type="text"]{
  font: 15px/24px "Lato", Arial, sans-serif;
  color: #333;
  background: transparent;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
}

.effect-1 {
  border: 0;
  padding: 7px 0;
  border-bottom: 1px solid #333;
}

.effect-1 ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: 0.4s;
}

.effect-1:focus ~ .focus-border {
  width: 100%;
  transition: 0.4s;
}






/*-----------------------------------*/
.c-dark {
  color: #373848;
}

.c-white {
  color: #FFFFFF;
}

.color2 {
  color: #20C5E1;
}

.color3 {
  color: #D1D0DD;
}

.color4 {
  color: #E9E4ED;
}

.color5 {
  color: #F1EDF5;
}

/* Background Color */
.bg-dark {
  background: #000;
}

.bg-twitter {
  background: #55acee;
}

.bg-gplus {
  background: #ff0000;
}

.no-pd {
  padding: 0;
}

.pd-1 {
  padding: 1.1em;
}

.pd-2 {
  padding: 1.1em;
}

.pd-3 {
  padding: 3.3em;
}

.shadow {
  box-shadow: 12px 6px 20px 3px;
}
